.label {
  text-align: right;
  line-height: 3em;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .label {
    text-align: left !important;
  }
}

.materialize-textarea {
  height: 5em !important;
}

.range-container {
  line-height: 3em;
  padding-top: 17px !important;
}

.range-label {
  line-height: 3em;
}

.switch-container {
  padding-top: 10px !important;
}

.indented-block {
  padding-left: 2em;
}

.section-title {
  margin-bottom: 2em;
}


.prevailing-rules-container {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 5px;
  min-height: 3em;
}

.rule {
  display: inline-block;
  margin: 0.3em;
  padding: 0.5em;
  text-transform: uppercase;
  border: 1px solid black;
}

.rule:hover {
  cursor: pointer;
}

.add-rule {
  display: none;
  vertical-align: middle;
  line-height: 1em;
  border-radius: 50%;
}

.prevailing-rules-container:hover .add-rule {
  display: inline-block;
}

.add-rule:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.rule.inclusive {
  background-color: rgba(50, 150, 50, 0.2);
}
.rule.inclusive:hover {
  background-color: rgba(50, 150, 50, 0.3);

}
.rule.exclusive {
  background-color: rgba(150, 50, 50, 0.2);
}
.rule.exclusive:hover {
  background-color: rgba(150, 50, 50, 0.3);

}


.snippet-container {
  border-bottom: 1px solid #9e9e9e;
  padding: 5px 0;
  margin: 1em 0;
  min-height: 3em;
}

.snippet {
  display: inline-block;
  margin: 0.3em;
  padding: 0.5em;
  text-transform: uppercase;
  border: 1px solid black;
}

.snippet:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.add-snippet {
  display: none;
  vertical-align: middle;
  line-height: 1em;
  border-radius: 50%;
}

.snippet-container:hover .add-snippet {
  display: inline-block;
}

.add-snippet:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}


.action-buttons {
  margin-top: 5em;
}


.execution-history-container {
  overflow-y: scroll;
  height: 400px;
  min-height: 400px;
  max-height: 1000px;
  resize: vertical;
}

.execution-history thead tr th {
  text-align: center;
}

.execution-history tbody tr td:first-child {
  width: 15%;
  text-align: center;
}

.execution-history tbody tr td:last-child {
  width: 10%;
  text-align: center;
}
