.workers-filter {
  border-bottom: 1px solid #000000;
}

.workers-filter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.workers-filter ul li {
  float: left;
}

.workers-filter ul li a {
  padding: 0 2em;
  display: block;
  text-align: center;
  text-decoration: none;
}

.workers-filter ul li.active a {
  background-color: rgba(0, 0, 0, 0.1);
}


.workers-filter ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.worker-item {
  padding-bottom: 1em;
  border: 1px solid grey;
}

.worker-item h5 {
  margin-bottom: 3px;
  color: #000000;
}

.worker-item .worker-description {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 2em 0;
}

.worker-item .worker-details {
  margin: 2em 1em 1em 1em;
}

.worker-item .worker-health-indicator {
  cursor: default;
  padding: 1em 1em 0 0;
}

.worker-item .worker-health-indicator.up {
  color: green;
}

.worker-item .worker-details .value {
  line-height: 3em;
}
